*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #6a4c93;
}

#holder{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#gen{
    height: 20vh;
    width: 100%;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Sigmar', cursive;
    background-color: transparent;
    font-size: 5rem;
    color: white;
    border: none;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#ques{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 20vh;
    color: white;
    font-family: 'Noto Serif TC', serif;
}

#ans{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    gap: 1rem;
    justify-content: center;
}

#ans button{
    width: 30vw;
    height: 20vh;
    font-size: 1rem;
    border-radius: 10px;
    transition: .5s;
    font-size: 2rem;
    font-family: 'Noto Serif TC', serif;
}

#ans button:hover{
    scale: 1.1;
}

#ans1{
    background-color: #ff595e;
}
#ans2{
    background-color: #ffca3a;
}
#ans3{
    background-color: #8ac926;
}
#ans4{
    background-color: #1982c4;
}
